<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>cloudcodes</title>
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@700&family=Fredoka+One&family=Monoton&family=Orbitron:wght@700&family=Pacifico&family=Rock+Salt&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    html {
      overflow-y: auto !important;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 9px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(194, 194, 194);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #6a6868;
    }
  </style>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
