<template>
  <ccs-datatable
    :Service="Service"
    :Module="Module"
    :TableHeaders="headers"
    ItemKey="id"
    RowSelectionMode="Multiple"
    :tempObj="tempObj"
  >
    <template v-slot:filterLayoutSlot>
      <ccs-filter class="mt-4"
        :headers="headers"
        :tempObj="tempObj"
      ></ccs-filter>
    </template>
  </ccs-datatable>
</template>

<script>
import ccsdatatable from "@/components/ccs-datatable.vue";
import filter from "@/components/ccs-filter.vue";
import Service from "@/api/service";
import { stringify } from "querystring";
import Screens from "@/config/screens";

export default {
  components: {
    "ccs-datatable": ccsdatatable,
    "ccs-filter": filter,
  },
  data() {
    return {
      Service: Service.User,
      Module: Screens[0].Module,
      headers: Screens[0].List.Headers,
      tempObj: {
        first_name: "",
        last_name: "",
        email: "",
        isActive: "",
        score: {
          criteria: "",
          value: "",
        },
        createdOn: "",
      },
    };
  },
  created() {},
  methods: {},
  mounted() {
    // console.log("SCREENS-"+stringify(Screens[0].List[0].Headers));
    console.log(stringify(this.$route.params) + " Mounted");
  },
};
</script>

<style scoped>
</style>