<template>
   <div> 
       <ccs-datatable></ccs-datatable>
   </div>
</template>

<script>
import ccsdatatable from "@/components/ccs-datatable.vue"
export default {
   components:{
      "ccs-datatable": ccsdatatable,
   }
}
</script>

<style>

</style>