<template>
  <div>
    <normal-form
      :title="header"
      :columnSize="columnSize"
      :buttons="buttons"
      :totalSchemas="totalSchemas"
    ></normal-form>
  </div>
</template>

<script>
import normalForm from "@/components/ccs-normal-form.vue";
export default {
  components: {
    "normal-form": normalForm,
  },
  data() {
    return {
      header: {
        title: "Normal Form",
        subTitle: "SubTitle",
        class: "default white--text",
      },
      columnSize: 12,
      buttons: {
        name: ["cancel", "save"],
        position: "right",
      },
      totalSchemas: [
        {
          id: "name",
          schema: "filed",
          label: "Name",
          value: "",
          rule: [(v) => !!v || "Name is required"],
          type: "text",
          read: false,
          titleColor: "default",
          Inputcolor: "default",
          class: "mt-1 mr-6 default--text",
        },
        {
          id: "email",
          schema: "filed",
          label: "Email",
          value: "",
          rule: [(v) => !!v || "Email is required"],
          type: "text",
          read: false,
          titleColor: "default",
          Inputcolor: "default",
          class: "mt-1 mr-6 default--text",
        },
        {
          id: "textArea",
          schema: "textArea",
          label: "textArea",
          row: "1",
          value: "text",
          titleColor: "default",
          boxColor: "default",
          class: "mt-n0 mr-2 default--text",
        },
        {
          id: "selectDrop",
          schema: "selectDrop",
          label: "select",
          options: [11, 22, 33, 44],
          titleColor: "default",
          dropColor: "default",
          class: "mr-6 default--text",
        },
        {
          id: "checkbox",
          schema: "checkBox",
          label: "Enable",
          read: false,
          value: true,
          titleColor: "default",
          checkColor: "default",
          class: "mt-1 mr-4 default--text",
          margin: "mt-n0",
        },

        {
          schema: "spacer",
        },
        {
          schema: "divider",
          style: "background-color:#d3d3d3",
        },
      ],
    };
  },
};
</script>

<style>
</style>