<template>
  <v-form>
    <v-row dense>
      <v-col cols="12" v-for="tfields in headers" :key="tfields.text">
        <v-text-field
          dense
          v-if="tfields.type === 'string'"
          :label="tfields.text"
          v-model="tempObj[tfields.value]"
        ></v-text-field>
        <v-checkbox
          class="mt-0 pt-0"
          dense
          v-if="tfields.type === 'boolean'"
          v-model="tempObj[tfields.value]"
        >
          <template v-slot:label>
            {{ tfields.text + tfields.hint }}
          </template>
        </v-checkbox>
        <v-row v-if="tfields.type === 'integer'">
          <v-col cols="5">
            <v-autocomplete
              dense
              :items="['Less Than', 'Greater Than', 'Equal To']"
              :label="tfields.text"
              v-model="tempObj[tfields.value].criteria"
            ></v-autocomplete>
          </v-col>
          <v-col>
            <v-text-field
              dense
              :disabled="tempObj[tfields.value].criteria === ''"
              v-model="tempObj[tfields.value].value"
              :label="'Enter ' + tfields.text"
            />
          </v-col>
        </v-row>
        <v-menu
          v-if="tfields.type === 'date'"
          v-model="dateMenu"
          :close-on-content-click="false"
          :nudge-right="50"
          :nudge-top="300"
          min-width="0"
          transition="scale-transition"
          offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              dense
              v-model="tempObj[tfields.value]"
              :label="tfields.text"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="tempObj[tfields.value]"
            @input="dateMenu = false"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    dateMenu: false,
  }),
  props: {
    headers: {
      type: Array,
    },
    tempObj: {
      type: Object,
    },
  },
};
</script>