<template>
  <div>
    <v-card
      ><v-card-title class="header-title">
        <v-img
          max-width="120"
          height="25"
          src="@/assets/images/cloudcodes-logo.png"
        ></v-img>
        <!-- Cloudcodes -->
      </v-card-title></v-card
    >
    <v-layout align-center justify-center column class="mt-12 pa-4">
      <v-card width="342" elevation="5">
        <v-card-title class="sub-header-title">Cloudcodes SSO</v-card-title>
        <v-divider></v-divider>
        <v-container>
          <v-row>
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field v-model="user.email" label="Username" required
                    ><v-icon slot="prepend">mdi-email</v-icon></v-text-field
                  >
                  <v-text-field
                    v-model="user.password"
                    label="Password"
                    required
                    type="password"
                    ><v-icon slot="prepend">mdi-key</v-icon></v-text-field
                  >

                  <div class="text-center">
                    <v-btn
                      class="btn-save"
                      color="save"
                      @click="validate"
                      :disabled="!valid"
                      >Login</v-btn
                    >
                  </div>
                </v-col>
              </v-form>
            </v-card-text>
          </v-row>
        </v-container>
      </v-card>

      <v-btn class="btn-google" 
        ><v-img
          max-width="20"
          height="20"
          class="mr-2"
          src="@/assets/images/google-icon.jpg"
        ></v-img
        >Log in with Google</v-btn
      >
      <v-btn class="btn-o365" @click="directive('o365')"
        ><v-img
          max-width="20"
          height="20"
          class="mr-2"
          src="@/assets/images/office-365.png"
        ></v-img
        >Log in with Microsoft</v-btn
      >
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: true,
      isInit: false,
      isSignIn: false,
      user: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    validate() {
      if(this.$refs.form.validate()){
        this.$store.commit('validateUser',{user:this.user.email,pass:this.user.password});
        if(this.$store.getters.getAuthenticate){
          this.$router.push({
                path: "/home/cms100/chart",
                query: {},
          });
        }
      }
    },
    directive(value) {
      console.log(value);

      fetch("http://localhost:8080/loggedInViaOAuth").then((response) => {
        console.log("work==>" + response);
      });
    },
    // async handleClickUpdateScope() {
    //   const option = new window.gapi.auth2.SigninOptionsBuilder();
    //   option.setScope("email https://www.googleapis.com/auth/drive.file");
    //   const googleUser = this.$gAuth.GoogleAuth.currentUser.get();
    //   try {
    //     await googleUser.grant(option);
    //     console.log("success");
    //   } catch (error) {
    //     console.error(error);
    //   }
    // },
    handleClickLogin() {
      this.$gAuth
        .getAuthCode()
        .then((authCode) => {
          //on success
          console.log("authCode", authCode);
        })
        .catch((error) => {
          //on fail do something
          console.log(error);
        });
    },
    async handleClickSignIn() {
      try {
        const googleUser = await this.$gAuth.signIn();
        if (!googleUser) {
          return null;
        }
        console.log("googleUser", googleUser);
        console.log("getId", googleUser.getId());
        console.log("getBasicProfile", googleUser.getBasicProfile());
        console.log("getAuthResponse", googleUser.getAuthResponse());
        console.log(
          "getAuthResponse",
          this.$gAuth.GoogleAuth.currentUser.get().getAuthResponse()
        );
        this.isSignIn = this.$gAuth.isAuthorized;
        if (this.isSignIn) {
          this.$store.commit("auth", true);
          this.$router.push({ path: "/home/ab001" });
        }
      } catch (error) {
        //on fail do something
        console.error(error);
        return null;
      }
    },
    async handleClickSignOut() {
      try {
        await this.$gAuth.signOut();
        this.isSignIn = this.$gAuth.isAuthorized;
        console.log("isSignIn", this.$gAuth.isAuthorized);
      } catch (error) {
        console.error(error);
      }
    },
    handleClickDisconnect() {
      window.location.href = `https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=${window.location.href}`;
    },
  },
  created() {
    let that = this;
    let checkGauthLoad = setInterval(function () {
      that.isInit = that.$gAuth.isInit;
      that.isSignIn = that.$gAuth.isAuthorized;
      if (that.isInit) clearInterval(checkGauthLoad);
    }, 1000);
  },
};
</script>

<style lang="scss" scoped>
@import "@/scss/_global.scss";
.header-title {
  //   background-color: var(--background-color);
  border-radius: 0px !important;
  color: var(--color);
  font-weight: 600;
}
.sub-header-title {
  background-color: var(--background-color);
  color: var(--color);
}
.btn-save {
  color: var(--btn-save-color);
}
.btn-o365 {
  //   border: 1px solid gray;
  background-color: #eb3c00 !important;
  margin-top: 6px;
  width: 24%;
  color: var(--btn-save-color);
}
.btn-google {
  border: 1px solid gray;
  width: 24%;
  margin-top: 12px;
}
</style>