<template>
  <v-container>
    <v-col cols="12" sm="12" md="8" offset-md="2">
      <v-card class="mt-5">
        <v-card-title :class="title.class">
          {{ title.title }}
        </v-card-title>
        <v-card-subtitle :class="title.class"> {{title.subTitle}} </v-card-subtitle>
        <form class="pa-5">
          <v-row>
            <v-col
              cols="12"
              sm="12"
              :md="columnSize"
              :lg="columnSize"
              v-for="(totalSchema, i) in totalSchemas"
              :key="i"
              :style="columnClass"
            >
              <v-text-field
                v-if="totalSchema.schema === 'filed'"
                :id="totalSchema.id"
                :color="totalSchema.Inputcolor"
                :rules="totalSchema.rule"
                :readonly="totalSchema.read"
                :value="totalSchema.value"
                :type="totalSchema.type"
                :label="totalSchema.label"
              ></v-text-field>
              <v-checkbox
                v-if="totalSchema.schema === 'checkBox'"
                :id="totalSchema.id"
                :value="totalSchema.value"
                :input-value="totalSchema.value"
                :readonly="totalSchema.read"
                :color="totalSchema.checkColor"
                @click="totalSchema.value = !totalSchema.value"
                :disabled="false"
                :class="totalSchema.margin"
                ><span slot="prepend" :class="totalSchema.class">{{
                  totalSchema.label
                }}</span></v-checkbox
              >
              <v-textarea
                v-if="totalSchema.schema === 'textArea'"
                :id="totalSchema.id"
                :rows="totalSchema.row"
                :value="totalSchema.value"
                :color="totalSchema.boxColor"
                :label="totalSchema.label"
                outlined
              >
              </v-textarea>

              <v-select
                v-if="totalSchema.schema === 'selectDrop'"
                :items="totalSchema.options"
                :id="totalSchema.id"
                :color="totalSchema.dropColor"
                :label="totalSchema.label"
                dense
                outlined
              ></v-select>
              <v-divider
                v-if="totalSchema.schema === 'divider'"
                :style="totalSchema.style"
              ></v-divider>
            </v-col>
          </v-row>
          <!-- <v-divider></v-divider> -->
          <v-col cols="12" sm="12">
            <div v-if="submitBtnBox.length > 0" :class="customBtnClass">
              <div v-for="btn in submitBtnBox" :key="btn.id" class="pt-3 mr-2">
                <v-btn
                  :id="btn.id"
                  :disabled="btn.disabled"
                  :color="btn.color"
                  @click="btnClick(btn.param)"
                  depressed
                >
                  {{ btn.name }}
                </v-btn>
              </div>
            </div>
          </v-col>
        </form>
      </v-card>
    </v-col>
    <!-- <v-btn @click="test1" color="green white--text">btn</v-btn> -->
  </v-container>
</template>

<script>
export default {
  props: {
    title: {
      type: Object,
      required: true
    },
    columnSize:{
      type : Number,
      required: true
    },
    totalSchemas:{
      type:Array,
      required: true
    },
    buttons:{
      type:Object,
      required: true
    }
  },
  data() {
    return {
      variableStore: [],
      customButton: [
        {
          id: "save",
          name: "save",
          color: "save white--text",
          disabled: false,
          param: "save",
        },
        {
          id: "cancel",
          name: "cancel",
          color: "cancel white--text",
          disabled: false,
          param: "cancel",
        },
        {
          id: "update",
          name: "update",
          color: "update white--text",
          disabled: false,
          param: "update",
        },
        {
          id: "submit",
          name: "submit",
          color: "yellow white--text",
          disabled: false,
          param: "submit",
        },
      ],
    };
  },
  methods: {
    test1() {
      alert("==>" + this.variableStore);
      for (var i = 0; i < this.variableStore.length; i++) {
        console.log(
          "===>" + document.getElementById(this.variableStore[i]).value
        );
      }
    },
    btnClick(offset) {
      alert(offset);
      if (this.buttons.name>0) return;
        console.log("1==>" + this.buttons.name);
        var array = [];
        this.buttons.name.filter((btnItem1) => {
            this.customButton.filter((btnItem2) => {
            if (btnItem1 === btnItem2.name) {
                console.log(btnItem1);
                array.push(btnItem2);
            }
            });
        });
        console.log("2==>" + array);
        return array;
    },
  },
  computed: {
    columnClass() {
      switch (this.columnSize) {
        case 12:
          return "margin: 0px !important;padding: 3px 5px !important;";
      }
      return "margin: 0px !important;";
    },
    customBtnClass() {
      if (
        this.$vuetify.breakpoint.name !== "sm" &&
        this.$vuetify.breakpoint.name !== "xs"
      ) {
        switch (this.buttons.position.toLowerCase()) {
          case "left":
            return "d-flex justify-start";
          case "center":
            return "d-flex justify-center";
          case "right":
            return "d-flex justify-end";
        }
      } else {
        return "";
      }
      return "";
    },
    submitBtnBox(){
        if (this.buttons === undefined) return;
        console.log("1==>" + this.buttons.name+this.buttons);
        var array = [];
        this.buttons.name.filter((btnItem1) => {
            this.customButton.filter((btnItem2) => {
            if (btnItem1 === btnItem2.name) {
                console.log(btnItem1);
                array.push(btnItem2);
            }
            });
        });
        console.log("2==>" + array);
        return array;
    }
  },
  mounted() {
    if (this.totalSchemas.length > 0) {
      for (var i = 0; i < this.totalSchemas.length; i++) {
        if (
          this.totalSchemas[i].id !== "" &&
          this.totalSchemas[i].id !== undefined
        ) {
          this.variableStore.push(this.totalSchemas[i].id);
        }
      }
    }
  },
};
</script>

<style lang="scss" scoped>
</style>