<template>
  <div>
    <v-app-bar
      color="default"
      dense
      dark
      elevate-on-scroll
      app
      style="z-index: 9"
      v-if="getAuthenticate"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
       <progress-loader :loading="loading"></progress-loader>
      <v-toolbar-title>{{ $t("projectName") }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-menu
        offset-y
        :close-on-content-click="false"
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-badge content="2" value="2" color="alert" overlap>
              <v-icon>mdi-bell</v-icon>
            </v-badge>
          </v-btn>
        </template>
        <v-card max-width="400">
          <v-list>
            <v-list-item v-for="item in 2" :key="item">
              <p>
                {{ item }}. The following is the public signature for the
                breakpoint service:
              </p>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>

      <v-menu
        offset-y
        :close-on-content-click="false"
        transition="slide-y-transition"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-account-circle</v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <img
                  src="@/assets/images/cloudcodes-logo.png"
                  alt="cloudcodes"
                />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>profile title</v-list-item-title>
                <!-- <v-list-item-subtitle>Founder of Vuetify</v-list-item-subtitle> -->
              </v-list-item-content>

              <v-list-item-action> </v-list-item-action>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item>
              <v-list-item-action>
                <v-switch color="purple"></v-switch>
              </v-list-item-action>
              <v-list-item-title>Enable Data</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-action>
                <v-switch color="purple"></v-switch>
              </v-list-item-action>
              <v-list-item-title>Enable</v-list-item-title>
            </v-list-item>
          </v-list>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn text @click="menu = false">
              {{ $t("button.cancel") }}
            </v-btn>
            <v-btn color="primary" text @click="menu = false">{{
              $t("button.save")
            }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" temporary app style="z-index: 8" v-if="getAuthenticate">
      <v-list dense class="mt-11 pa-2" @click="mainRouteClick(item.id)">
        <v-list-item-group
          v-model="select"
          color="default"
          mandatory
          active-class="menuheader-border"
        >
          <v-list-item
            v-for="item in mainMenus"
            :key="item.title"
            @click="mainRouteClick(item.id)"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t("menu.mainTitle." + item.title) }}</v-list-item-title
              >
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <template v-slot:append>
        <v-divider></v-divider>
        <div class="pa-3">
          <v-chip-group column class="ml-9">
            <div v-for="subList in lists" :key="subList.title">
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="" v-bind="attrs" v-on="on" class="mr-3" icon>
                    <v-icon @click.stop="offset">
                      {{ subList.icon }}
                    </v-icon>
                  </v-btn>
                </template>
                <span>{{ subList.title }}</span>
              </v-tooltip>
            </div>
          </v-chip-group>
        </div> </template
      ><v-spacer></v-spacer>
    </v-navigation-drawer>
  </div>
</template>

<script>
import menuMap from "@/constantsData/menuMap";
import progressLoader from "@/components/ccs-progress-loader";
export default {
  name: "Header",
  components: {
    'progress-loader':progressLoader
  },
  data: () => ({
    drawer: false,
    loading:false,
    mainMenus: [],
    subMenus: "",
    preRouteId: "",
    lists: [
      { title: "Setting", icon: "mdi-rss-box" },
      { title: "Help", icon: " mdi-information" },
      { title: "Query", icon: "mdi-help-circle" },
    ],
    select: "",
  }),
  methods: {
    getValue() {
      var subMenus = [];
      menuMap.subMenu.filter((list1) => {
        if (list1.subMenus !== undefined) {
          list1.subMenus.filter((list2) => {
            if (list2.routeLink === this.$route.path) subMenus.push(list2);
          });
        }
      });
      console.log("h->fianl===>" + subMenus.length + "==>" + subMenus[0]);
      return subMenus.length > 0;
    },
    mainRouteClick(currentId) {
      if (currentId !== this.$route.params.id) {
        this.loading = true;
        this.setMainRoute(currentId);
      }
    },
    setMainRoute(currentId) {
      console.log(
        "h->mainMenus===>" +
          this.mainMenus.length +
          ",  currentId===>" +
          currentId
      );
      if (
        this.mainMenus.length > 0 &&
        currentId !== "" &&
        currentId !== undefined
      ) {
        for (var i = 0; i < this.mainMenus.length; i++) {
          var id = this.mainMenus[i].id;
          if (id === currentId) {
            this.select = i;
            this.$store.commit("setPreParentID", currentId);
          }
        }
      }
      if (currentId !== "" && currentId !== undefined) {
        if (this.preRouteId === currentId) {
          console.log("h->Find same route ID");
          return 0;
        }
        this.subMenus = [];
        fetch("http://localhost:3000/subNav?id=" + currentId)
          .then((response) => response.json())
          .then((datas) => {
            var subMenuList = datas[0].title.map((data) => data.toLowerCase());
            this.subMenus = menuMap.subMenu.filter((list) =>
              subMenuList.includes(list.title.toLowerCase())
            );
            this.preRouteId = currentId;
            let header = datas[0].header;
            let icon = datas[0].icon;
            this.$store.commit("setSubRouteData", {
              submenus: this.subMenus,
              header: header,
              icon: icon,
            });

            let dublicateNav = this.subMenus.filter((list) => {
              return list.routeLink === this.$route.path
                ? true
                : list.subMenus === undefined
                ? false
                : this.getValue();
            });

            console.log("h->dublicateNav===>" + dublicateNav.length);
            if (dublicateNav.length > 0) {
              console.log("Find dublicateNavRoute");
            } else {
              this.$router.push({
                path: this.subMenus[0].routeLink,
                query: {},
              });
            }
          });
      }
      return 0;
    },
  },
  computed: {
    getAuthenticate(){
      return this.$store.getters.getAuthenticate
    }
  },
  watch: {
    $route: function () {
      console.log("h-$route");
      this.setMainRoute(this.$route.params.id);
    },
    loading (val) {
        if (!val) return
        setTimeout(() => (this.loading = false), 1000)
      },
  },
  beforeMount() {
    console.log("h-beforeMount");
    fetch("http://localhost:3000/nav")
      .then((response) => response.json())
      .then((json) => {
        this.mainMenus = menuMap.mainMenu.filter((list1) => {
          return json.filter((list2) => {
            if (list2.title.toLowerCase() === list1.title.toLowerCase()) {
              return true;
            } else {
              return false;
            }
          });
        });
        this.setMainRoute(this.$route.params.id);
      });
  },
};
</script>

<style lang="scss">
@import "@/scss/_global.scss";
.menuheader-border {
  border: 1px solid var(--default);
  border-radius: 3px;
}
#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: white;

    &.router-link-active {
      color: red;
    }
  }
}
.ccs-main-content {
  height: calc(
    100%
  ) !important; /* Total height  - top bar - footer calc(100vh - 76px)*/
  width: 100%; //  overflow-y: auto !important;
}
a.main-menu {
  color: rgb(27, 27, 27) !important;
  font-weight: bold;
  text-decoration: none;
}
</style>