<template>
  <div>
    <v-toolbar flat dense>
      <v-toolbar-title class="subtitle-1">{{ Module }}</v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <div>
      <v-toolbar flat dense>
        <v-flex class="pa-0" width="250px" xs8 sm4 md2>
          <v-text-field
            class="search-input"
            v-on:keyup.enter="onSearchClick"
            clearable
            single-line
            hide-details
            placeholder="Search"
            v-model="SearchText"
          >
            <template v-slot:append>
              <v-icon ripple v-on:click="onSearchClick">mdi-magnify</v-icon>
            </template>
          </v-text-field>
        </v-flex>
        <div v-for="Button in [PanelFilter, DialogFilter]" :key="Button.id">
          <v-tooltip top v-if="Button.visible">
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                color="default"
                v-on="on"
                :elevation="0"
                v-on:click="Button.ShowFilter = !Button.ShowFilter"
              >
                <v-icon>{{
                  Button.ShowFilter ? Button.icon1 : Button.icon2
                }}</v-icon>
              </v-btn>
            </template>
            <span>{{ Button.text }}</span>
          </v-tooltip>
        </div>
        <div v-if="FilterTags.length > 0">
          <v-chip
            class="orange lighten-1"
            @click:close="clearFilter('all-filter', -1)"
            close
            small
          >
            Filters :
            <v-chip-group>
              <v-chip
                v-for="(tag, i) in FilterTags"
                :key="tag"
                class="font-weight-regular"
                close
                x-small
                @click:close="clearFilter(tag, i)"
              >
                {{ tag }}
              </v-chip>
            </v-chip-group>
          </v-chip>
        </div>
        <div class="flex-grow-1"></div>
        <template v-if="$vuetify.breakpoint.smAndUp">
          <!-- Standard Buttons -->
          <div
            v-for="Button in [
              RefreshButton,
              DeleteButton,
              EditButton,
              CreateButton,
              ExportButton,
              TableColumnsButton,
            ]"
            :key="Button.id"
          >
            <v-tooltip top v-if="Button.visible">
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  color="default"
                  v-if="Button.visible"
                  v-on="on"
                  v-on:click="ListActionClick(Button)"
                  :disabled="Button.Enabled"
                >
                  <v-icon>{{ Button.icon }}</v-icon>
                </v-btn>
              </template>
              <span>{{ Button.toolTip }}</span>
            </v-tooltip>
          </div>
        </template>
      </v-toolbar>
      <v-divider></v-divider>
      <v-row>
        <v-col
          class="grey lighten-5"
          :cols="PanelFilter.ShowFilter ? 2 : 0"
          v-if="PanelFilter.ShowFilter"
        >
          <v-card class="grey lighten-5" flat>
            <v-card-title class="default--text mt-0 pt-0">
              <v-icon color="default" left>{{ PanelFilter.icon1 }}</v-icon>
              <span class="title font-weight-light">{{
                PanelFilter.text
              }}</span>
            </v-card-title>
            <v-card-text class="mt-0 pt-0">
              <slot name="filterLayoutSlot"></slot>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn class="save white--text"
                elevation="3" 
               @click="applyFilter('no-action')">
                Apply
              </v-btn>
              <v-btn
                class="cancel default--text"
                elevation="3" 
                @click="PanelFilter.ShowFilter = false"
              >
                close
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col>
          <v-data-table
            class="data-table"
            v-model="TableSelectedItems"
            :show-select="ShowSelection"
            :single-select="IsSingleSelection"
            :headers="TableHeaders"
            :items="Items"
            :items-per-page="Pagination.PageSize"
            :item-key="ItemKey"
            :search="SearchText"
            hide-default-footer
            multi-sort
          >
          </v-data-table>
          <v-divider></v-divider>
          <div v-if="Pagination.TotalPages > 1" class="mt-5 float-right">
            <v-row>
              <v-col>
                <v-select
                  class="mt-3"
                  style="width:60px"
                  v-model="Pagination.PageSize"
                  :items="RecordsPerPage"
                  dense
                  label="Page Size"
                ></v-select>
              </v-col>
              <v-col>
                <v-pagination
                  color="default"
                  v-model="Pagination.CurrentPage"
                  :length="Pagination.TotalPages"
                  :total-visible="7"
                  v-on:input="LoadinPageData"
                ></v-pagination>
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
      <v-dialog
        v-model="DialogFilter.ShowFilter"
        max-width="550px"
        full-width
        scrollable
        hide-overlay
        no-click-animation
      >
        <v-card>
          <v-card-title class="default white--text">
            <v-icon left color="white">{{ DialogFilter.icon1 }}</v-icon>
            <span class="title font-weight-light">{{ DialogFilter.text }}</span>
          </v-card-title>

          <v-card-text>
            <slot name="filterLayoutSlot"></slot>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn class="save white--text"
              elevation="3" 
              @click="applyFilter(DialogFilter)">
              Apply
            </v-btn>
            <v-btn
              class="cancel default--text"
              elevation="3"
              @click="DialogFilter.ShowFilter = false"
            >
              close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dilaog for Delete -->
      <v-dialog
        v-model="ShowDeleteDialog"
        hide-overlay
        scrollable
        max-width="350px"
      >
        <v-card>
          <v-card-title class="default white--text">
            <v-icon left color="white">{{ DeleteButton.icon }}</v-icon>
            <span class="title font-weight-light">{{ DeleteButton.text }}</span>
          </v-card-title>
          <v-card-text>
            <slot name="deleteLayout"> Implement Delete slot with props </slot>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn class="save white--text"
              elevation="3" 
               @click="ShowDeleteDialog = false">
              Yes
            </v-btn>
            <v-btn class="cancel default--text" 
              elevation="3"
               @click="ShowDeleteDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dilaog for Create -->
      <v-dialog
        v-model="ShowCreateDialog"
        hide-overlay
        scrollable
        max-width="350px"
      >
        <v-card>
          <v-card-title class="default white--text">
            <v-icon left color="white">{{ CreateButton.icon }}</v-icon>
            <span class="title font-weight-light">{{ CreateButton.text }}</span>
          </v-card-title>
          <v-card-text>
            <slot name="createLayout"> Implement Create slot with props </slot>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn 
              class="save white--text"
              elevation="3"
              @click="ShowCreateDialog = false">
              Save
            </v-btn>
            <v-btn 
              class="cancel default--text"
              elevation="3"
              @click="ShowCreateDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dailog For Export -->
      <v-dialog
        v-model="ShowExportDialog"
        scrollable
        hide-overlay
        max-width="350px"
      >
        <v-card>
          <v-card-title class="default white--text">
            <v-icon left color="white">{{ ExportButton.icon }}</v-icon>
            <span class="title font-weight-light">{{ ExportButton.text }}</span>
          </v-card-title>
          <v-card-text>
            <slot name="createLayout"> Implement Export slot with props </slot>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn 
              class="save white--text"
              elevation="3"
              @click="ShowExportDialog = false">
              Save
            </v-btn>
            <v-btn 
              class="cancel default--text"
              elevation="3"
              @click="ShowExportDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dilaog for Edit -->
      <v-dialog
        v-model="ShowEditDialog"
        hide-overlay
        scrollable
        max-width="350px"
      >
        <v-card>
          <v-card-title class="default white--text">
            <v-icon left color="white">{{ EditButton.icon }}</v-icon>
            <span class="title font-weight-light">{{ EditButton.text }}</span>
          </v-card-title>
          <v-card-text>
            <slot name="editLayout"> Implement Edit slot with props </slot>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn 
              class="save white--text"
              elevation="3"
              @click="ShowEditDialog = false">
              Yes
            </v-btn>
            <v-btn 
              class="cancel default--text"
              elevation="3"
             @click="ShowEditDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Dialog For Show Table Columns -->
      <v-dialog
        v-model="ShowTableColumnsDialog"
        scrollable
        hide-overlay
        max-width="300px"
      >
        <v-card>
          <v-card-title class="default white--text">
            <v-icon left color="white">{{ TableColumnsButton.icon }}</v-icon>
            <span class="title font-weight-light">{{
              TableColumnsButton.text
            }}</span>
          </v-card-title>
          <v-card-text>
            <v-checkbox
              v-for="item in TableHeaders"
              :key="item.text"
              v-model="selectedTableColumns"
              :label="item.text"
              :value="item.text"
              dense
              class="mt-0 pt-0"
            ></v-checkbox>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn class="save white--text"
            elevation="3"
             @click="applyShowTableColumns()">
              Save
            </v-btn>
            <v-btn
              class="cancel default--text"
              elevation="3"
              @click="ShowTableColumnsDialog = false"
            >
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { stringify } from "querystring";

export default {
  props: {
    Module: {
      type: String,
      required: true,
    },
    //Api Service Object
    Service: {
      type: Object,
      required: false,
    },
    CreatePage: {
      type: Object,
      default: function () {
        return {
          Path: "",
          Parameter: {},
        };
      },
    },
    DialogFilter: {
      type: Object,
      default: function () {
        return {
          id: "DialogFilter",
          icon1: "mdi-filter",
          icon2: "mdi-filter-outline",
          text: "Filter",
          toolTip: "Dialog Filter",
          visible: true,
          ShowFilter: false,
        };
      },
    },
    PanelFilter: {
      type: Object,
      default: function () {
        return {
          id: "PanelFilter",
          icon1: "mdi-filter",
          icon2: "mdi-filter-outline",
          text: "Filter",
          toolTip: "Panel Filter",
          visible: true,
          ShowFilter: false,
        };
      },
    },
    SupportQuickCreate: {
      type: Boolean,
      default: true,
    },
    SupportQuickEdit: {
      type: Boolean,
      default: true,
    },
    CreateButton: {
      type: Object,
      default: function () {
        return {
          id: "CreateButton",
          icon: "mdi-plus-box",
          text: "Create",
          toolTip: "Create",
          visible: true,
          bubbleEvent: false,
          ActionType: "Default",
          Enabled: false,
        };
      },
    },
    EditButton: {
      type: Object,
      default: function () {
        return {
          id: "EditButton",
          icon: "mdi-pencil",
          text: "Edit",
          toolTip: "Edit",
          visible: true,
          bubbleEvent: false,
          ActionType: "SingleSelect",
          Enabled: false,
        };
      },
    },
    DeleteButton: {
      type: Object,
      default: function () {
        return {
          id: "DeleteButton",
          icon: "mdi-delete",
          text: "Delete",
          toolTip: "Delete",
          visible: true,
          bubbleEvent: false,
          ActionType: "MultiSelect",
          Enabled: false,
        };
      },
    },
    RefreshButton: {
      type: Object,
      default: function () {
        return {
          id: "RefreshButton",
          icon: "mdi-sync",
          text: "Refresh",
          toolTip: "Refresh",
          visible: true,
          bubbleEvent: false,
          ActionType: "Default",
          Enabled: false,
        };
      },
    },
    ExportButton: {
      type: Object,
      default: function () {
        return {
          id: "ExportButton",
          icon: "mdi-file-export",
          text: "Export as PDF Or Sheet",
          toolTip: "Export",
          visible: true,
          bubbleEvent: false,
          ActionType: "Default",
          Enabled: false,
        };
      },
    },
    TableColumnsButton: {
      type: Object,
      default: function () {
        return {
          id: "TableColumnsButton",
          icon: "mdi-view-parallel",
          text: "Table Columns",
          toolTip: "Show Table Columns",
          visible: true,
          bubbleEvent: false,
          ActionType: "Default",
          Enabled: false,
        };
      },
    },
    TableHeaders: {
      type: Array,
    },
    RowSelectionMode: {
      type: String,
      default: "None",
    },
    ItemKey: {
      type: String,
      default: "id",
    },
    tempObj: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.LoadinPageData();
    this.TableSelectedItems = [];
    this.TableHeaders.forEach((i) => {
      i.text = `${this.$t("TableHeader."+this.Module+"."+i.text)}`;
      if (i.align !== " d-none") { 
        this.selectedTableColumns.push(i.text);
      }
    });
    console.log(stringify(this.$route.params) + " Mounted");
  },
  computed: {
    ShowSelection() {
      return this.RowSelectionMode != "None";
    },
    IsSingleSelection() {
      return this.RowSelectionMode == "Single";
    },
  },
  watch: {
    TableSelectedItems: function (to, from) {
      /** Trriger to check button enable disable status */
      console.log("OBJ-LIST-TO-" + stringify(to) + "FROM-" + stringify(from));
      let AllListActionButtons = [this.DeleteButton, this.EditButton];
      AllListActionButtons.forEach((btn) => {
        btn.Enabled = this.EnableListAction(btn);
      });
    },
  },
  methods: {
    ListActionClick(Button) {
      console.log(Button.id);
      switch (Button.id) {
        case "CreateButton":
          if (this.SupportQuickCreate) {
            this.ShowCreateDialog = true;
          } else {
            //Navigate to create page
          }
          break;
        case "EditButton":
          if (this.SupportQuickEdit) {
            this.ShowEditDialog = true;
          } else {
            //Navigate to create page
          }
          break;
        case "DeleteButton":
          this.ShowDeleteDialog = true;
          break;
        case "RefreshButton":
          this.LoadinPageData();
          break;
        case "TableColumnsButton":
          this.ShowTableColumnsDialog = true;
          break;
        case "ExportButton":
          this.ShowExportDialog = true;
          break;
      }
    },
    RowActionClick(Button, item) {
      console.log("RowActionClick", Button, item);
    },
    onSearchClick: function () {
      console.log("onSearchClick");
    },
    LoadinPageData: function () {
      this.Service.GetAll("", this.Pagination)
        .then((res) => {
          console.log("RESPONSE-ARRAY-" + stringify(res));
          this.Items = res.data;
          // this.Pagination = res.Pages;
        })
        .catch((err) => {
          console.log("OBJ-LIST-ERR-" + err);
        })
        .then(function () {
          // always executed
        });
    },
    /**Function check enable disable status of buttons depending on action type */
    EnableListAction(Button) {
      switch (Button.ActionType) {
        case "SingleSelect":
          console.log(!(this.TableSelectedItems.length === 1));
          return !(this.TableSelectedItems.length === 1);
        case "MultiSelect":
          console.log(!(this.TableSelectedItems.length > 0));
          return !(this.TableSelectedItems.length > 0);
        default:
          return false;
      }
    },
    applyFilter(FilterButton) {
      this.FilterTags = [];
      this.TableHeaders.forEach((i) => {
        if (this.tempObj[i.value] !== "" && i.type !== "integer") {
          this.FilterTags.push(i.text + " : " + this.tempObj[i.value]);
        } else if (
          i.type == "integer" &&
          this.tempObj[i.value].criteria != ""
        ) {
          this.FilterTags.push(
            i.text +
              " : " +
              this.tempObj[i.value].criteria +
              " : " +
              this.tempObj[i.value].value
          );
        }
      });
      if (FilterButton !== "no-action") {
        FilterButton.ShowFilter = false;
      }
    },
    clearFilter(tag, index) {
      if (index === -1) {
        this.FilterTags = [];
        this.TableHeaders.forEach((i) => {
          if (i.type !== "integer") {
            this.tempObj[i.value] = "";
          } else if (i.type == "integer") {
            this.tempObj[i.value].criteria = "";
            this.tempObj[i.value].value = "";
          }
        });
      } else {
        this.FilterTags.splice(index, 1);
        this.TableHeaders.forEach((i) => {
          if (
            i.text.trim() === tag.split(":")[0].trim() &&
            i.type !== "integer"
          ) {
            this.tempObj[i.value] = "";
            return;
          } else if (i.type == "integer") {
            this.tempObj[i.value].criteria = "";
            this.tempObj[i.value].value = "";
            return;
          }
        });
      }
    },
    applyShowTableColumns() {
      this.TableHeaders.forEach((i) => {
        if (!this.selectedTableColumns.includes(i.text)) {
          i.align = " d-none";
        } else {
          i.align = "left";
        }
      });
      this.ShowTableColumnsDialog = false;
    },
  },

  data() {
    return {
      ShowDeleteDialog: false,
      ShowCreateDialog: false,
      ShowEditDialog: false,
      ShowExportDialog: false,
      ShowTableColumnsDialog: false,
      SearchText: "",
      TableSelectedItems: [],
      Filters: [],
      Items: [],
      tempItems: [],
      RecordsPerPage: [5, 10, 50, 100, 200],
      Pagination: {
        TotalItems: 0,
        CurrentPage: 1,
        PageSize: 5,
        TotalPages: 3,
        SortBy: "Name",
        Descending: false,
      },
      FilterTags: [],
      selectedTableColumns: [],
    };
  },
};
</script>

<style scoped>
.data-table {
  max-height: 30em !important;
  overflow-y: auto;
  overflow-x: auto;
}
.search-input {
  border: gray 1px solid;
  border-radius: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.move-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>