<template>
  <v-hover
    v-slot:default="{ hover }"
    :open-delay="200"
    :close-delay="200"
    class="float-left ccs-left-pane"
    elevation-4
  >
    <v-card>
      <v-navigation-drawer permanent :width="!hover ? 60 : 250">
        <div
          class="ccs-scroll-bar-wrap"
          @mouseover="Expand = true"
          @mouseleave="Expand = false"
        >
          <div class="ccs-scroll-box">
            <v-list dense>
              <v-list-item :style="headerStyle" v-if="header !=''&& header != undefined"
                ><v-icon class="mr-4" :style="iconStyle">{{ icon }}</v-icon
                >{{ $t("menu.mainTitle." + header) }}</v-list-item
              >
              <v-divider></v-divider>
              <div v-for="(item, i) in getSubMenus" :key="item.title + i">
                <v-list-group
                  v-if="item.subMenus"
                  no-action
                  :v-model="item.active"
                  color="black"
                >
                  <template v-slot:activator>
                    <v-list-item-icon style="margin-right: 15px">
                      <v-icon v-text="item.icon"></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        $t("menu.subTitle." + item.title)
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </template>

                  <v-list-item
                    style="padding-left: 15px"
                    class="ccs-left-menu"
                    :input-value="subItem.active"
                    v-for="subItem in item.subMenus"
                    v-on:click="onLinkClick(subItem)"
                    :key="subItem.key"
                  >
                    <v-list-item-icon style="margin-right: 15px">
                      <v-icon
                        v-if="subItem.icon"
                        v-text="subItem.icon"
                      ></v-icon>
                      <span class="pl-1" v-else>{{
                        $t("menu.subTitle." + subItem.title[0])
                      }}</span>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        $t("menu.subTitle." + subItem.title)
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-group>
                <v-list-item
                  class="ccs-left-menu"
                  v-else
                  link
                  v-on:click="onLinkClick(item)"
                  :input-value="item.active"
                  color="default"
                >
                  <v-list-item-icon style="margin-right: 15px">
                    <v-icon v-text="item.icon"></v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{
                      $t("menu.subTitle." + item.title)
                    }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </div>
            </v-list>
          </div>
          <div class="ccs-cover-bar"></div>
        </div>
      </v-navigation-drawer>
    </v-card>
  </v-hover>
</template>

<script>
// import { mapGetters } from "vuex";
export default {
  props: {
    Menus: Array,
  },
  computed: {
    getSubMenus() {
      this.setMenuSelection(
        this.$store.getters.getParentRoute[0],
        this.$route.path
      );
      console.log("SubMenu TEST==>" + this.$store.getters.getParentRoute[0]);
      return this.$store.getters.getParentRoute[0];
    },
    headerStyle() {
      return (
        "color:" +
        this.$vuetify.theme.themes.light.default +
        ";font-Size:18px;font-weight: 500;"
      );
    },
    iconStyle() {
      return "color:" + ";font-Size:25px;font-weight: bold;";
    },
    header() {
      return this.$store.getters.getParentRoute[1];
    },
    icon() {
      return this.$store.getters.getParentRoute[2];
    },
  },
  beforeMount() {},

  data() {
    return {
      Mini: false,
      Expand: false,
    };
  },
  methods: {
    onLinkClick: function (item) {
      if (this.$route.path !== item.routeLink) {
        this.$router.push({ path: item.routeLink, query: {} });
        this.setMenuSelection(this.Menus, item.routeLink);
      }
    },
    setMenuSelection: function (menus, curentRoute) {
      if (!menus) return;
      for (var i = 0; i < menus.length; i++) {
        var menu = menus[i];
        menu.active = curentRoute === menu.routeLink;
        menu.key = menu.key + "1";
        this.setMenuSelection(menu.subMenus, curentRoute);
      }
      this.$forceUpdate();
    },
  },
  watch: {
    $route: function () {},
  },
  mounted() {},
};
</script> 

 <style lang="scss">
@import "@/scss/_global.scss";

.ccs-left-pane {
  position: fixed;
  z-index: 7;
}
.ccs-left-menu {
  color: var(--default) !important;
  margin: 7px 0px 7px 0px !important;
}
.ccs-scroll-bar-wrap {
  position: relative;
}
.ccs-scroll-box {
  height: calc(100vh) !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ccs-scroll-box::-webkit-scrollbar {
  width: 0.4em;
}
.ccs-scroll-box::-webkit-scrollbar,
.ccs-scroll-box::-webkit-scrollbar-thumb {
  overflow: visible;
  border-radius: 4px;
}
.ccs-scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.ccs-cover-bar {
  position: absolute;
  background: #fff;
  height: 100%;
  top: 0;
  right: 0;
  width: 0.4em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.ccs-scroll-bar-wrap:hover .cover-bar {
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
</style>

