<template>
  <v-container fluid>
    <v-row>
      <v-card color="#000000c2">
        <v-col cols="12" sm="12" md="12">
          <p class="titel-part">color :</p>
          <v-chip-group
            v-model="colorSelection"
            active-class="active-color-part"
            column
            @change="onOffValue"
            class="chip-group"
          >
            <div v-for="colors of colorSet" :key="colors">
              <v-chip :color="colors" :value="colors" class="color-part">
                <v-icon v-if="colors == colorSelection" color="white">
                  mdi-check
                </v-icon>
              </v-chip>
            </div>
          </v-chip-group>
        </v-col>
        <v-divider class="mx-3" style="background:#fff"></v-divider>
        <v-col cols="12" sm="12" md="12">
          <p class="titel-part">Font Size :</p>
          <v-chip-group
            v-model="fontSelection"
            active-class=""
            column
            @change="onOffValue"
          >
            <v-chip color="" value="14px" class="font-part">A1</v-chip>
            <v-chip color="" value="16px" class="font-part">A2</v-chip>
            <v-chip color="" value="18px" class="font-part">A3</v-chip>
            <v-chip color="" value="20px" class="font-part">A4</v-chip>
          </v-chip-group>
        </v-col>
        <v-divider class="mx-3" style="background:#fff"></v-divider>
        <v-col cols="12" sm="12" md="12">
          <p class="titel-part">Font Style :</p>
          <v-select
            v-model="fontStyleVal"
            :items="fontStyle"
            label="select"
            dense
            solo
            @change="onOffValue"
          ></v-select>
        </v-col>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      colorSelection: "#0f9e92",
      fontSelection: "14px",
      fontStyleVal: "'Roboto Slab', serif",
      fontStyle: [
        "'Roboto Slab', serif",
        "'Architects Daughter', cursive",
        "'Dancing Script', cursive",
        "'Fredoka One', cursive",
        "'Pacifico', cursive"
      ],
      colorSet: [
        "#0f9e92",
        "#243e5a",
        "#288391",
        "#7f105d",
        "#159f46",
        "#2864d1"
      ]
    };
  },
  methods: {
    onOffValue() {
      document.documentElement.style.setProperty(
        "--color",
        this.colorSelection
      );
      document.documentElement.style.setProperty(
        "--font-size",
        this.fontSelection
      );
      document.documentElement.style.setProperty(
        "--font-family",
        this.fontStyleVal
      );
      if (this.colorSelection == undefined) {
        this.$vuetify.theme.themes.light.default = "#0f9e92";
        this.colorSelection = "#0f9e92";
      } else {
        this.$vuetify.theme.themes.light.default = this.colorSelection;
      }

      console.log(
        " Theme Data==>" +
          this.colorSelection +
          "''''" +
          this.fontSelection +
          "........" +
          this.fontStyleVal
      );
    },
    onSetFont() {}
  },
  computed: {
  }
};
</script>

<style lang="scss" scoped>
@import "@/scss/_global.scss";
.titel-part {
  font-size: var(--font-size);
  color: #fff;
}
.color-part {
  opacity: 1;
}
.active-color-part {
  opacity: 1;
}
.font-part {
  color: #fff !important;
}
.chip-group {
  background: #fff;
  border-radius: 4px;
  padding: 0px 7px;
  display: inline-flex;
}
</style>