<template>
  <div>
    <v-progress-linear
      :active="loading"
      :indeterminate="loading"
      absolute
      bottom
      color="#fff"
      background-color=""
    ></v-progress-linear>
  </div>
</template>

<script>
export default {
  props:{
      loading:{
          type:Boolean,
          required:true
      }
  },
  data: () => ({
  }),
};
</script>

<style>
</style>