<template>
  <div>
    <subdrawer-menu
      :Menus="subMenus"
      ref="subdrawer"
    />
    <div :style="layoutMargin">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </div>
  </div>
</template>

<script>
import subdrawer from "@/components/ccs-subdrawer-menu.vue";
export default {
  mode: "history",
  name: "MainLayoutPage",
  data() {
    return {
      subMenus:[]
    };
  },
  components: {
    "subdrawer-menu": subdrawer,
  },
  methods: {},
  computed: {
    layoutMargin() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "margin-left: 60px;";
        case "sm":
          return "margin-left: 60px;";
        case "md":
          return "margin-left: 60px;";
        case "lg":
          return "margin-left: 60px;";
        case "xl":
          return "margin-left: 60px";
      }
      return "margin-left: 60px;";
    },
  },
  watch: {
    $route: function () {},
  },
  beforeMount() {},
  mounted() {},
};
</script>

<style scoped>
</style>
