<template>
  <v-app>
    <ccs-Header />
    <v-main>
      <router-view />
    </v-main>
    <ccs-footer />
  </v-app>
</template>

<script>
import Header from "@/components/ccs-header.vue";
import footer from "@/components/ccs-footer.vue";
export default {
  name: "App",
  components: {
    "ccs-Header": Header,
    "ccs-footer": footer,
  },
  data: () => ({}),
  methods: {},
  computed: {},
};
</script>
<style lang="scss">
</style>
