//ROOT for define css variable
:root {
  
  --color: white;
  --default:#3c73e9;
  --font-size: 16px;
  --font-family:'Roboto Slab', serif;
  --background-color: #3c73e9;
  --btn-save-color:  white;
}
 